

<!DOCTYPE html>
<html lang="fr">
    
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/style.css">
    
    <title>U-Voice</title>
</head>
<body>
    <img src="{{ url_for('static', filename='photologo.png') }}" alt="Logo U-Voice" style="position:absolute; top:10px; left:10px; width:100px;">

    <div style="text-align: center;"> 
        <a href="/">Accueil</a>
    </div>
    <div class="signup">
        <a href="{{ url_for('login') }}">
            <button class="button">se connecter</button>
        </a>
        <a href="{{ url_for('signup') }}">
        <button >s'inscrire</button>
        </a>
    </div>
    <h1><strong>U-VOICE</strong></h1>
    <h2>Make your voice matter &#128173;</h2>
</body>
</html>